body {
	background-color: lightblue;
}

h2 {
	text-align: center;
}

h1 {
	text-align: center;
	color: green;
	font-family: verdana
}

p {
	width: 300px;
	height: 100px;
	margin: 10px auto;
  	border: 2px solid grey;
	background-color: lavender;
	color: lightslategray;
	text-align: center;
	font-family: verdana
}